
<% @photo.each do |photo|%>
  <div class="img">
    <div class="container">
      <%= link_to image_tag( photo.img.url(:medium) ), photo_path(photo) %>
    </div>
  </div>
<% end %>
<div class="clear-fix">
</div>